.product {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
    width: 270px;
    height: 40px;
    background-color: black;
    border: none;
    color: #fff;
    font-size: large;
    font-weight: 600;
}