.product {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    justify-content: center;
    padding: 10px;

}

button {
    width: 270px;
    height: 40px;
    background-color: black;
    border: none;
    color: #fff;
    font-size: large;
    font-weight: 600;
}